ex01/box_cong_test.png
ex01/box_cong.png
ex01/box_logistic.png
ex01/box_rand.png
ex01/cdf.txt
ex01/iterators.jl
ex01/logisticCdf.txt
ex01/pdfSample.jl
ex01/rand_sample.csv
ex01/random_numbers_generators.ipynb
ex01/sample_cong.csv
ex01/sample_logistic.csv
ex01/spherical_sampling.ipynb
ex01/hand_in/box_cong_test.png
ex01/hand_in/box_cong.png
ex01/hand_in/box_logistic.png
ex01/hand_in/box_rand.png
ex01/hand_in/cdf.txt
ex01/hand_in/iterators.jl
ex01/hand_in/random_numbers_generators.ipynb
ex01/hand_in/spherical_sampling.ipynb
cdf.txt
exercise1_julia_test.ipynb
julia_random_ex.ipynb
logisticCdf.txt
original.wav
pdf2random.png
random.wav
ex02/result/random_sample.csv
exercise1_julia_test.ipynb
